:root {
  text-rendering: geometricPrecision;

  --dark-bg: #2B2629;
  --lighter-dark-bg: #332c30;
  --error-bg: #EF6F6C;

  --attention: #f7b4b3;
}

body.dark .post-content a:not(.cta) {
 color: var(--attention);
}

.dark, body.dark, body.list.dark {
  background-color: #172f3e;
}

.dark .post-entry, .dark .terms-tags a, .dark .post-tags a {
  background-color: var(--dark-bg);
  border: none;
  color: var(--primary);
}

.terms-tags a {
  padding: 3px 16px 10px;
}

.entry-content {
  color: var(--primary)
}

.error-banner-analytics {
  font-size: 0.875rem;
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  bottom: 0;
  background-color: var(--error-bg);
  color: #000;
  line-height: 2;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.error-banner-analytics a {
  color: #000;
  text-decoration: underline;
}

.error-banner-analytics button {
  color: var(--primary);
  background-color: #172f3e;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  right: 10px;
  top: 0;
  margin-top: 1rem;
}

.container {
  position: relative
}

.hiding {
  opacity: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.cta {

}

@media screen and (max-width: 768px) {
  .profile img {
    height: auto;
  }
}

@media screen and (max-width: 839px) {
  .error-banner-analytics button {
    position: relative;
    margin-top: 0.5rem;
    right: unset;
    bottom: unset;
  }
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  caret-color: var(--attention);
  color: var(--primary);
}

button[type=submit] {
  width: 100%;
  background-color: var(--dark-bg);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: var(--lighter-dark-bg);
}

.hidden {
  display: none;
}

a.cta {
  text-align: center;
  width: 100%;
  background-color: var(--dark-bg);
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
}

.cta:hover {
  background-color:  var(--lighter-dark-bg);
}

.copy-code {
  display: inline-block;
}
