.dark, body.dark, body.list.dark {
  background-color: #172f3e;
}

.dark .post-entry, .dark .terms-tags a {
  background-color: #2B2629;
  border: none;
}

.terms-tags a {
  padding: 3px 16px 10px;
}

.entry-content {
  color: var(--primary)
}

.error-banner-analytics {
  font-size: 0.875rem;
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  bottom: 0;
  background-color: #EF6F6C;
  color: #000;
  line-height: 2;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.error-banner-analytics a {
  color: #000;
  text-decoration: underline;
}

.error-banner-analytics button {
  color: #fff;
  background-color: #172f3e;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  right: 10px;
  top: 0;
  margin-top: 1rem;
}

.container {
  position: relative
}

.hiding {
  opacity: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .profile img {
    height: auto;
  }
}

@media screen and (max-width: 839px) {
  .error-banner-analytics button {
    position: relative;
    margin-top: 0.5rem;
    right: unset;
    bottom: unset;
  }
}
